<div class="container-fluid">
  <div class="row">
    <div class="col-7" style="max-height: 320px; overflow-y:  scroll;">
      <br>
      <h4>Accommodations:</h4>            
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Description</th>
            <th>Capacity</th>
            <th>Type</th>
            <th>Category</th>
            <th>Average rating</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th><button class="btn btn-dark" (click)="onSearch()">Search</button></th>
            <th><button class="btn btn-dark" (click)="onBack()">Show all units</button></th>
          </tr>
        </thead>
        <tbody *ngFor="let a of accommodations">
            <tr>
              <td>{{a.name}}</td>
              <td>{{a.location.name}}</td>
              <td>{{a.description}}</td>
              <td>{{a.capacity}}</td>
              <td>{{a.accommodationType.name}}</td>
              <td>{{a.category}}*</td>
              <td>{{a.averageRating}}</td>
              <td><button class="btn btn-link" (click)="onClick(a)">Show price plan</button></td>
              <td><button class="btn btn-link" (click)="onClick1(a)">Show images</button></td>
              <td><button class="btn btn-link" (click)="onClick2(a)">Reserve</button></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
      </table>
    </div>
    <div class="col-5" style="max-height: 230px; max-width: 400px" *ngIf="showImages">
        <carousel>
            <slide *ngFor="let image of images">
              <img [src]="image" style="display: block; width: 100%;max-height: 230px;">
            </slide>
        </carousel>
    </div>
  </div>

  <div class="row pt-3 mt-2" >
      <div class="col-6" *ngIf="showSearch">
          <br>
          <h4>Search:</h4>
            <form>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Location:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="loc" placeholder="Location" [(ngModel)]="nameLocation" [ngModelOptions] = "{standalone:true}">
                    </div>
                </div>
              
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Time interval:</label>
                    <div class="col-sm-10">
                        <input type="text" readonly=true placeholder="Choose dates" class="form-control" 
                        bsDaterangepicker [(ngModel)]="dates1" [ngModelOptions]="{standalone: true}" [bsConfig]="{ isAnimated: true, adaptivePosition: true, dateInputFormat: 'yyyy-MM-dd' }">
                    </div>
                </div>
              
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Capacity:</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" placeholder="Capacity" [(ngModel)]="searchAccommodation.capacity" [ngModelOptions] = "{standalone:true}">
                    </div>
                </div>
              
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Type:</label>
                  <div class="col-sm-10">
                    <select class="form-control" id="typeAcc" [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let type of accommodationTypes" [ngValue]="type">{{type.name}}</option>
                    </select>
                  </div>
                </div>
              
                  <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Category:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="catAcc" [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}">
                                <option value="0" disabled selected>Category</option>
                                <option value="1">1*</option>
                                <option value="2">2*</option>
                                <option value="3">3*</option>
                                <option value="4">4*</option>
                                <option value="5">5*</option>
                              </select>
                        </div>
                  </div>
                  
                  <div class="form-group row">
                        <div class="col-sm-10 text-center">
                            <button class="btn btn-dark" (click)="onSearch1()">Search</button>
                        </div>
                  </div>
              
                </form>
        </div>  
        <div class="col-6" *ngIf="showForm">
          <br>
          <h4>Select dates for reservation:</h4>
          <div class="form-group row">
            <div class="col-sm-12">
            <input type="text" readonly=true placeholder="Choose dates"class="form-control" 
              bsDaterangepicker [(ngModel)]="dates" [ngModelOptions]="{standalone: true}" [bsConfig]="{ isAnimated: true, adaptivePosition: true, dateInputFormat: 'yyyy-MM-dd' }">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10 text-center">
                <button class="btn btn-dark" (click)="onSend()">Send</button>
            </div>
      </div>
        </div>
        
  </div>
  <div class="row">
    <div class="col-6" *ngIf="showPrice">
      <br>
      <h4>Price plans:</h4>            
      <table class="table">
        <thead>
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Price per night</th>
          </tr>
        </thead>
        <tbody *ngFor="let p of price">
          <tr>
            <td>{{p.fromDate.slice(0,10)}}</td>
            <td>{{p.toDate.slice(0,10)}}</td>
            <td>{{p.oneNightPrice}}$</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-dark" (click)="hide()">Hide</button>
  </div>
  </div>

</div>
