<div class="container-fluid">
    <div class="row">
      <div class="col-6" style="max-height: 320px; overflow-y:  scroll;">
        <br>
        <h4>Services:</h4>            
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>&nbsp;</th>
              <th><button class="btn btn-dark" (click)="onClick()">Add new service</button></th>
            </tr>
          </thead>
          <tbody *ngFor="let s of services">
            <td>{{s.name}}</td>
            <td><button class="btn btn-link" (click)="deleteService(s)">Delete</button></td>
          </tbody>
        </table>
      </div>
      <div class="col-6" style="max-height: 320px; overflow-y:  scroll;">
          <br>
          <h4>Types:</h4>            
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>&nbsp;</th>
                <th><button class="btn btn-dark" (click) = "onClick1()">Add new type</button></th>
              </tr>
            </thead>
            <tbody *ngFor="let t of types">
              <td>{{t.name}}</td>
              <td><button class="btn btn-link" (click)="deleteType(t)">Delete</button></td>
            </tbody>
          </table>
        </div>
    </div>
    <div class="row">
        <div class="col-6" *ngIf = "(isClicked && isSubmit) || isPressed">
            <br>
            <h4>Add new service:</h4>
              <form>
                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Name:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="newService.name" [ngModelOptions] = "{standalone:true}">
                      </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-10 text-center">
                      <button class="btn btn-dark" (click) = "onSubmit()">Add</button>
                    </div>
                  </div>
              </form>
        </div>  
        <div class="col-6" *ngIf = "(isClicked1 && isSubmit1) || isPressed1">
            <br>
            <h4>Add new type:</h4>
              <form>
                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Name:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="newType.name" [ngModelOptions] = "{standalone:true}">
                      </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-10 text-center">
                      <button class="btn btn-dark" (click) = "onSubmit1()">Add</button>
                    </div>
                  </div>
                </form>
          </div>
    </div>
</div>