<div class="container-fluid">
    <div class="row">
      <div class="col-7" style="max-height: 320px; overflow-y:  scroll;">
        <br>
        <h4>Reservations:</h4>            
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>From date</th>
              <th>To date</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody *ngFor="let r of reservations">
              <tr>
                <td>{{r.name}}</td>
                <td>{{r.fromDate}}</td>
                <td>{{r.toDate}}</td>
                <td><button class="btn btn-link" (click)="onClick(r)">Send messagge</button></td>
                <td><button class="btn btn-link" (click)="onClick1(r)">Cancel reservation</button></td>
                <td><button class="btn btn-link" (click)="onClick2(r)">Finish</button></td>
              </tr>
            </tbody>
        </table>
      </div>
      <div class="col-5">
          <form>
              <div class="form-group row">
                    <h4>&nbsp;Send messagge:</h4>
                </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <textarea class="form-control" rows="5"></textarea>
              </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 text-center">
                  <button class="btn btn-dark">Send</button>
                </div>
              </div>
          </form>
      </div>
    </div>
</div>