<div class="container-fluid">
  <div class="row">
    <div class="col-6" style="max-height: 320px; overflow-y:  scroll;">
      <br>
      <h4>Agents:</h4>            
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Business id</th>
            <th><button class="btn btn-dark" (click) = "onClick()">Add new agent</button></th>
          </tr>
        </thead>
        <tbody *ngFor="let a of agents">
          <td>{{a.name}}</td>
          <td>{{a.surname}}</td>
          <td>{{a.email}}</td>
          <td>{{a.businessId}}</td>
          <td>&nbsp;</td>
        </tbody>
      </table>
    </div>
    <div class="col-6" style="max-height: 320px; overflow-y:  scroll;">
        <br>
        <h4>Users:</h4>            
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Surname</th>
              <th>Email</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody *ngFor="let u of users">
            <td>{{u.name}}</td>
            <td>{{u.surname}}</td>
            <td>{{u.email}}</td>
            <td *ngIf="u.status == 'BLOCKED'"><button class="btn btn-link" (click)="activate(u)">Activate</button></td>
            <td *ngIf="u.status == 'ACTIVATED'"><button class="btn btn-link" (click)="block(u)">Block</button></td>
            <td><button class="btn btn-link" (click)="remove(u)">Remove</button></td>
          </tbody>
        </table>
      </div>    
  </div>
  <div class="row pt-3 mt-2">
      <div class="col-6" *ngIf = "(isClicked && isSubmit) || isPressed">
          <br>
          <h4>Add new agent:</h4>
          <p class="text-danger">{{existAgent}}</p>
          <p class="text-danger">{{messagge}}</p>
            <form>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Name:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="Name" [(ngModel)]="agent.name" [ngModelOptions] = "{standalone:true}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Surname:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="Surname" [(ngModel)]="agent.surname" [ngModelOptions] = "{standalone:true}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" placeholder="Email" [(ngModel)]="agent.email" [ngModelOptions] = "{standalone:true}">
                    </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Username:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Username" [(ngModel)]="agent.username" [ngModelOptions] = "{standalone:true}">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Password:</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="Password" [(ngModel)]="agent.password" [ngModelOptions] = "{standalone:true}">
                  </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Business id:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="Business id" [(ngModel)]="agent.businessId" [ngModelOptions] = "{standalone:true}">
                    </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10 text-center">
                    <button class="btn btn-dark" (click) = "onSubmit()">Add</button>
                  </div>
                </div>
              </form>
        </div>  
  </div>
</div>

