<div class="container-fluid">
    <div class="row">
      <div class="col-9" style="max-height: 320px; overflow-y:  scroll;">
        <br>
        <h4>Accommodations:</h4>            
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Location</th>
              <th>Description</th>
              <th>Capacity</th>
              <th>Canceling period in days</th>
              <th>Type</th>
              <th>Category</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="col-3">
              <label class="col-sm-2 col-form-label">Services:</label>
              <div class="col-8 form-group">
                  <div class="list-group w-100" style="max-height: 191px; overflow-y:  scroll;">
                    <div class="list-group-item" style="display: block">
                        
                    </div>
                  </div>
              </div>
              
      </div>
    </div>
    <div class="row">
      
    </div>
  </div>