<div class="container-fluid">
  <div class="row">
    <div class="col-8" style="max-height: 320px; overflow-y:  scroll;">
      <br>
      <h4>Reservations:</h4>            
      <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Accommodation</th>
            <th>From</th>
            <th>To</th>
            <th>Status</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody *ngFor="let r of reservations">
          <tr>
            <td>{{r.username}}</td>
            <td>{{r.accName}}</td>
            <td>{{r.fromDate.slice(0,10)}}</td>
            <td>{{r.toDate.slice(0,10)}}</td>
            <td>{{r.status}}</td>
            <td *ngIf="r.status == 'PENDING'"><button class="btn btn-link" (click)="approve(r)">Approve</button></td>
            <td *ngIf="r.status == 'PENDING'"><button class="btn btn-link" (click)="reject(r)">Reject</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>