<div class="container-fluid">
  <div class="row">
    <div class="col-6" style="max-height: 320px; overflow-y:  scroll;">
      <br>
      <h4>Messagges:</h4>            
      <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Messagge</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <form>
          <div class="form-group row">
                <h4>&nbsp;Answer:</h4>
            </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <textarea class="form-control" rows="5"></textarea>
          </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 text-center">
              <button class="btn btn-dark">Send</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>